<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block css %}
    <style>
        html {
            height: 100vh;
        }

        body {
            background-image: url("{% static 'images/Iot.png' %}") !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
        }

    </style>
    <link rel="stylesheet" media="screen" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block content %}

    <div class="container-fluid" id="particles-js" style="height: 100%">
        <div class="row " style="margin-top: 8rem">
            <div class="col-md-4 mx-auto" style="z-index: 99 !important;">
                <div class="  text-dark card">
                    <div class="card-body">
                        <p class="card-title">
                            {% if user.is_authenticated %}
                                Hi {{ user.username }}!
                                <p>
                                    <a href="{% url 'logout' %}">logout</a>
                                </p>
                            {% else %}
                                <p class="text-left p-3">You are not logged in</p>
                                <a href="{% url 'login' %}" class="mb-1 btn btn-primary btn-block">Login</a><br>
                                <a href="{% url 'signup' %}" class="btn btn-success btn-block">Signup</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
{% endblock js %}